.editIcon {
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: coral;
    cursor: pointer;
}

.editInput {
    border: none;
    padding: 20px;
    font-family: 'Josefin Sans', sans-serif;
    background: none;
    color: coral;
    width: 70vw;
}

.editHeading {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.editSubHeading {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
}


.editInput::placeholder {
    color: white;
}

.editInput:focus {
    outline: none;
}

.editText {
    font-size: 24px;
    height: 100vh;
    color: gray;
}

.editText::placeholder {
    color: gray;
}

.editCoverUpload {
    position: absolute;
    padding: 10px;
    margin: 0 0 0 10px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background-color: coral;
    color: white;
    top: 470px;
    left: 30px;
    z-index: 999;
}

.editSubmit {
    position: relative;
    padding: 10px;
    margin: 0 0 0 10px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    background-color: coral;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

.editPost {
    flex: 9;
    font-family: 'Josefin Sans', sans-serif;
}

.editPostWrapper {
    margin: 0 25px 40px 25px;
    font-weight: 300;
}

.editPostInfo > img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.editPostInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editPostCategories {
    margin-top: 20px;
    float: left;
}

.editPostCategory {
    padding-bottom: 20px;
    margin-top: 10px;
    margin-right: 15px;
    font-size: 20px;
    color: coral;
    font-weight: 400;
    line-height: 20px;
    cursor: pointer;
}

.editPostSubHeader {
    width: 100%;

}

.editPostEdit {
    padding-bottom: 20px;
    margin-top: 10px;
    font-size: 1.1em;
    color: coral;
    line-height: 20px;
    float: right;
}

.editPostEdit > label {
    font-size: 1.1em;
}

.editPostEdit > i {
    margin-left: 15px;
    font-size: 1.1em;
    color: coral;
    cursor: pointer;
}

.editCategory {
    font-family: 'Josefin Sans', sans-serif;
    color: coral;
}

.editSelect {
    height: 30px;
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    color: coral;
    font-size: 20px;
}

.editPostTitle {
    margin: 10px;
    font-size: 1.5em;
    font-weight: 400;
}

.editPostDate {
    margin-top: 10px;
    font-size: 1.1em;
    color: gray;
    font-weight: 400;
}

.editPostContent {
    margin: 10px;
    font-size: 1.3em;
    font-weight: 300;
    line-height: 20px;
}

.editPostHeader {
    position: relative;
    width: 100%;
    height: 450px;
    margin-top: 20px;
    overflow: hidden;
}

.editPostHeaderImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.editPostHeaderOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* Adjust darkness here */
    z-index: 1;
}

.editPostHeaderTitles {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    color: coral;
    font-family: 'Josefin Sans', sans-serif;
}

.editPostHeaderTitleLg {
    font-size: 3rem;
    font-weight: bold;
}

.editPostHeaderTitleSm {
    font-size: 1.5rem;
}

.contentSubHeading {
    font-weight: 800;
    color: coral;
}
